@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/Pretendard-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/Pretendard-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'Pretendard';
  font-weight: 500;
  font-style: normal;
  src: url('/fonts/Pretendard-SemiBold.woff2') format('woff2');
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  height: 100%;
  font-family: Pretendard, NanumSquare, Nanum Gothic, sans-serif;
  overflow-x: hidden;
}

body {
  background: linear-gradient(0deg, rgba(58,72,138,1) 0%, rgba(40,33,90,1) 100%) no-repeat;
}

a {
  color: inherit;
  text-decoration: none;
}